<h1>Post Name: <%= @post.name%></h1>
<h2>Post Content: <%= @post.content%></h2>

<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input name= "name" type="text" value="<%=@post.name%>">
  <input name="content" type= "text" value="<%=@post.content%>">

  <input type="submit" id="delete" value="delete">
</form>
